.custom-navbar {
    background-color: #333;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}

.nav-link:hover {
    color: #fff;
    text-decoration: underline;

}